# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/
!.streamlit/config.toml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PDF (si vous voulez exclure le sujet du repo)
# *.pdf
